@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}


img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 6rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}



/*title -reusable */

.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}

#insta{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/insta-pic.jpg') center/cover no-repeat fixed;
    min-height: 65vh;
}
#insta .title h2{
    color: var(--light-color);
}
#insta .title h2::after{
    background-color: var(--light-color);
}
.insta-grid > div{
    height: 400px;
    overflow: hidden;
    transition: var(--transition);
}
.insta-grid > div img{
    height: 100%;
    object-fit: cover;
}
.insta-grid > div:hover{
    transform: scale(0.9);
}




/* Media Queries */


@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
}

@media(min-width: 992px){
    .insta-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .insta-grid > div{
        height: 250px;
    }
}



