body {
    margin: 0;
}

svg {
    height: 100vmin;
    left: calc(50% - 50vmin);
    position: relative;
    width: 100vmin;
}

.ball-top {
    animation: BallTopMove 4s both infinite;
    motion-path: path("m 66.2,39.264578 c 0,0 -5.195345,-18.056477 -20.4,-18.056477 -15.204655,0 -20.4,17.930208 -20.4,17.930208");
    offset-path: path("m 66.2,39.264578 c 0,0 -5.195345,-18.056477 -20.4,-18.056477 -15.204655,0 -20.4,17.930208 -20.4,17.930208");
    motion-offset: 0%;
    offset-distance: 0%;
}

.ball-bottom {
    animation: BallBottomMove 4s both infinite;
    motion-path: path("m 66.2,58.979615 c 0,0 -5.195345,18.056477 -20.4,18.056477 -15.204655,0 -20.4,-17.930208 -20.4,-17.930208");
    offset-path: path("m 66.2,58.979615 c 0,0 -5.195345,18.056477 -20.4,18.056477 -15.204655,0 -20.4,-17.930208 -20.4,-17.930208");
    motion-offset: 100%;
    offset-distance: 100%;
}

.thinkMaskCircle {
    animation: ClipSmallMove 4s both infinite;
}

.createMaskCircle {
    animation: ClipBigMove 4s both infinite;
}

@keyframes BallTopMove {
    0% {
        motion-offset: 0%;
        offset-distance: 0%;
        transform: scale(0);
    }
    10% { transform: scale(1); }
    42.5% { transform: scale(1); }
    50% {
        motion-offset: 100%;
        offset-distance: 100%;
        transform: scale(0);
    }
    100% {
        motion-offset: 100%;
        offset-distance: 100%;
        transform: scale(0);
    }
}

@keyframes BallBottomMove {
    0% {
        motion-offset: 100%;
        offset-distance: 100%;
        transform: scale(0);
    }
    50% {
        motion-offset: 100%;
        offset-distance: 100%;
        transform: scale(0);
    }
    60% { transform: scale(1); }
    92.5% { transform: scale(1); }
    100% {
        motion-offset: 0%;
        offset-distance: 0%;
        transform: scale(0);
    }
}

@keyframes ClipSmallMove {
    0% { transform: translateY(-63%); }
    17.5% { transform: translateY(-63%); }
    50% { transform: translateY(0%); }
    62.5% { transform: translateY(63%); }
    100% { transform: translateY(63%); }
}

@keyframes ClipBigMove {
    0% { transform: translateY(0%); }
    17.5% { transform: translateY(-63%); }
    50% { transform: translateY(-63%); }
    62.499% { transform: translateY(-63%); }
    62.5% { transform: translateY(63%); }
    100% { transform: translateY(0%); }
}
